<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="https://portfolio.jttorate.com" class="navbar-brand scrollTo">Junnel T Torate</a>
            <button id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                    <span class="fa fa-bars"></span>
                </button>
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="https://portfolio.jttorate.com" class="nav-link nav-index">Home</a></li>
                    <li class="nav-item"><a href="https://portfolio.jttorate.com/skills" class="nav-link nav-skills">Skills</a></li>
                    <li class="nav-item"><a href="https://portfolio.jttorate.com/services" class="nav-link nav-services">Services</a></li>
                    <li class="nav-item"><a href="https://portfolio.jttorate.com/experience" class="nav-link nav-experience">Experience</a></li>
                    <li class="nav-item"><a href="https://portfolio.jttorate.com/references" class="nav-link nav-references">My Work</a></li>
                    <li class="nav-item"><a href="https://portfolio.jttorate.com/certification" class="nav-link nav-certification">Certification</a></li>
                    <li class="nav-item"><a href="https://portfolio.jttorate.com/contact-me" class="nav-link nav-contact-me">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
