<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="https://jttorate.com" class="navbar-brand scrollTo">Junnel T Torate</a>
            <button id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                    <span class="fa fa-bars"></span>
                </button>
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="https://jttorate.com" class="nav-link nav-index">Home</a></li>
                    <li class="nav-item"><a href="https://jttorate.com/skill" class="nav-link nav-skill">Skills</a></li>
                    <li class="nav-item"><a href="https://jttorate.com/service" class="nav-link nav-service">Services</a></li>
                    <li class="nav-item"><a href="https://jttorate.com/experience" class="nav-link nav-experience">Experience</a></li>
                    <li class="nav-item"><a href="https://jttorate.com/reference" class="nav-link nav-reference">My Work</a></li>
                    <li class="nav-item"><a href="https://jttorate.com/certification" class="nav-link nav-certification">Certification</a></li>
                    <li class="nav-item"><a href="https://jttorate.com/contact-me" class="nav-link nav-contact-me">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>